@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
    #cta_buttons {
        display: grid;
        gap: 24px;
    }

    .section-subtitle {
        line-height: 3rem;
        font-size: 25px;
    }

    #testimonials_content .section-subtitle {
        line-height: 2rem;
        font-size: 25px;
    }

}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
    input[type="submit"] {
        width: 100%;
      }
    #cta_buttons {
        display: grid;
        gap: 24px;
    }

    .section-subtitle {
        line-height: 3rem;
        font-size: 25px;
    }

    #testimonials_content .section-subtitle {
        line-height: 2rem;
        font-size: 25px;
    }

    footer {/*
        background-image: url(../img/banner-perfil.jpg);
        background-attachment: fixed;*/
        width: 100%;
        display: grid;
    }

    footer .social button {
        padding: 15px;
    }


    footer .social h3 {
        padding-bottom: 10px;

    }

    footer .social {
        text-align: center;
        margin: auto;
        
    }

    footer .content-number h3 {
        padding-bottom: 10px;
    }
    

    footer .pages menu h3 {
        padding-bottom: 20px;
    }

    footer .pages {
        padding-top: 0px;
    }

    .final {
        margin-bottom: 30px;
    }
    
        
}